@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to bottom, #4e54c8c1, #8f94fba1),
    url("https://source.unsplash.com/1920x1080/?abstract");
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.container {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 700px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  .hero-head {
    font-size: 2em;
    color: #f5f5f5;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px #6a6a6a;
  }

  .quote-text {
    position: relative;
    color: #f5f5f5;
    padding: 30px;
    font-size: 1em;
    text-align: center;
    font-weight: 400;
  }

  .quote-text::after {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .quote-text::before {
    position: absolute;
    top: 0;
    left: 0;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }

  .quote-text::before,
  .quote-text::after {
    content: '"';

    color: #f5f5f5;
    text-shadow: 2px 2px #ffffff56;
    font-size: 2.5em;
    font-family: "Space Grotesk", sans-serif;
  }

  .quote-author {
    text-align: right;
    color: #ededed;
    font-weight: 600;
    font-size: 1em;
  }

  .functionality {
    margin: 10px 0;
    padding: 20px 0 0 0;
    border-top: 2px solid rgba(255, 255, 255, 0.307);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a.next-quote {
      height: 40px;
      width: auto;
      border-radius: 500px;
      font-size: 1em;
    
    }
    a {
    
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(9.5px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      height: 40px;
      width: 40px;
      text-align: center;
      text-decoration: none;
      border-radius: 100%;
      font-size: 1.2em;
      padding: 10px;
      margin: 0 3px;
      color: #ececec;
      transition: 0.2s ease;
      text-shadow: 2px 1px #6a6a6a;
    }
    a:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);

    }
  }
}
